@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f4f4f5; /* zinc-100 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  /* Añadimos un sutil granulado o ruido de fondo si lo deseas más adelante */
}

::selection {
  background-color: #3f3f46; /* zinc-700 */
  color: #ffffff;
}